{% extends 'base.html' %}

{% block header %}
    {% block title %}Irrigation Planner{% endblock %}
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Irrigation Planner</h1>
</div>
    <form action="" method='post'>
    <label for="email">Email: </label><br>
    <input type="text" id="userName" name="userName"><br>
    <label for="password">Password: </label><br>
    <input type="text" id="password" name="password"><br>
    <label for="consentNumber">Consent Number: </label><br>
    <input type="text" id="consentNumber" name="consentNumber"><br>
    <label for="city">City: </label><br>
    <input type="text" id="city" name="city"><br>
    <button type="submit">Sign up</button>
    
    </form>

{% endblock %}